@model RVNLMIS.Models.DisciplineModel
@{
    Layout = null;
}

<div class="card">
    <div class="card-header pb-4">
        <h5>Discipline Information</h5>
    </div>
    @using (Ajax.BeginForm("AddDisciplineDetails", "Discipline", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnDisSuccess" }, new { @class = "form", @id = "Disciplineform" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DisciplineId)
        <div class="card-body pl-3 pr-3 pb-1 pt-2" id="card1">
            <div class="row">

                <div class="col-md-12 mb-1">
                    <div class="form-group">
                        <label class="col-form-label-sm-user text-black-50" for="txtDisciplineCode">Discipline Code @Html.ValidationMessageFor(model => model.DisciplineCode, "", new { @class = "text-danger" })</label>
                        @*@Html.EditorFor(model => model.DisciplineCode, new { htmlAttributes = new { @class = "mb-3 form-control", @type = "text", @placeholder = "Enter discipline code" } })*@
                        @if (Model.DisciplineId != 0)
                        {
                            @Html.EditorFor(model => model.DisciplineCode, new { htmlAttributes = new { @class = "form-control ", @type = "text", @placeholder = "Ex: RVNL0001", @readonly = "readonly" } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.DisciplineCode, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ex: RVNL0001" } })
                        }
                    </div>
                </div>
                <div class="col-md-12 mb-1">
                    <div class="form-group mb-3">
                        <label class="col-form-label-sm-user text-black-50" for="txtDisciplineName">Discipline Name @Html.ValidationMessageFor(model => model.DisciplineName, "", new { @class = "text-danger" })</label>
                        @Html.EditorFor(model => model.DisciplineName, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Enter discipline name" } })
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-sm btn-theme pull-right">Save</button>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="card-footer">
            <div class="row">

                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-sm btn-theme pull-right"><i class="m-r-5 feather icon-check"></i>Save</button>
                </div>
               
            </div>
        </div>*@
    }
</div>
<script>
    $(window).resize(function () {
        $('#card1').height($(window).height() - 204);
    });
    $(window).trigger('resize');
</script>