@model RVNLMIS.Models.Config.CreateQaQcParam

@{
    ViewBag.Title = "_AddEditQaqcParameter";
    Layout = null;
}

<div class="card">

    <div class="card-header pb-4">
        <div class="row">
            <div class="col-sm-12">
                <h5>Configuration Parameters</h5>
            </div>
        </div>
    </div>

    @using (Ajax.BeginForm("AddEditQaqcParameter", "Config", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnHseSuccess" }, new { @class = "form-horizontal", Page = "form" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.QPID)
        <div class="card-body pl-3 pr-3 pb-1 pt-2" id="card1">
            <div class="row">
                <div class="col-md-12" id="prjContainer">
                    <div class="form-group mb-1">
                        <label class="col-form-label-sm-user text-black-50" for="txtUserName">Project   @Html.ValidationMessageFor(model => model.ProjId, "", new { @class = "text-danger" })</label>
                        @(Html.Kendo().DropDownListFor(model => model.ProjId).OptionLabel("Select Project").Popup(p => p.AppendTo("#prjContainer")).Filter("contains").HtmlAttributes(new { @class = "form-control form-control-sm" }).BindTo(ViewBag.ProjectList as SelectList)
)
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group mb-1">
                        <label class="col-form-label-sm-user text-black-50" for="txtUserName">
                           Qaqc Parameter
                        </label>
                        @Html.TextBoxFor(model => model.QParName, new { @class = "form-control text-box single-line", @placeholder = "Qaqc Parameter", @required = "required" })
                        @Html.ValidationMessageFor(model => model.QParName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-1">
                        <label class="col-form-label-sm-user text-black-50" for="txtUserName">
                            Qaqc Parameter Sequence
                        </label>
                        @Html.TextBoxFor(model => model.QParSeq, new { @class = "form-control text-box single-line", @placeholder = "Qaqc Sequence", @required = "required" })
                        @Html.ValidationMessageFor(model => model.QParSeq, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-sm btn-theme pull-right" value="Save">Save</button>
                </div>
            </div>
        </div>
    }
</div>
